<div class="user-list">
    <div class="user-list__header">
        <div class="user-list__header-drag text-value-18"></div>
        <div class="user-list__header-photo text-value-18">Foto</div>
        <div class="user-list__header-name text-value-18">Nombre</div>
        <div class="user-list__header-lastnameP text-value-18">Apellido Paterno</div>
        <div class="user-list__header-lastnameM text-value-18">Apellido Materno</div>
        <div class="user-list__header-email text-value-18">Correo</div>
        <div class="user-list__header-rol text-value-18">Rol</div>
        <div class="user-list__header-status text-value-18">Status</div>
        <div class="user-list__header-actions text-value-18"></div>
    </div>

    <div class="user-list-body">
        <div *ngFor="let user of users; let i = index;">
            <div class="user-list__data">
                <div class="user-list__data__drag">
                    <img class="points" src="assets/points.svg">
                </div>
                <div class="user-list__data__box__photo">
                    <img src="{{ user.picture }}" alt="photo" class="user-list__data__box__photo-img" />
                </div>
                <div class="user-list__data-name text-value-13">
                    {{ user?.name }}
                </div>
                <div class="user-list__data-lastnameP text-value-13">
                    {{ user?.mothersLastName }}
                </div>
                <div class="user-list__data-lastnameM text-value-13">
                    {{ user?.fathersLastName }}
                </div>
                <div class="user-list__data-email text-value-13">
                    {{ user?.email }}
                </div>
                <div class="user-list__data-rol text-value-13">
                    <p *ngIf="user?.roleId == 1">Dueño</p>
                    <p *ngIf="user?.roleId == 2">Administrador</p>
                    <p *ngIf="user?.roleId == 3">Staff</p>
                </div>
                <div class="user-list__data-active">
                    <label class="switch">
                        <input type="checkbox" [checked]="user.active">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="user-list__data-actions">
                    <div class="fas fa-edit" (click)="editUser($event, user)"></div>
                    <div class="fas fa-trash" (click)="removeUser(i)"></div>
                </div>
            </div>
        </div>
    </div>
    <app-form *ngIf="show" [user]="userSelected" (close)="close($event)">
    </app-form>
</div>