.user-list {
    width: 100%;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-weight: 700;
        padding: 1.5rem 0;

        &-name,
        &-lastnameP,
        &-lastnameM {
            width: 12%;
        }

        &-email {
            width: 17%;
        }

        &-rol {
            width: 12%;
            display: flex;
            align-items: center;
        }

        &-drag {
            width: 9.5%;
        }

        &-photo {
            width: 5%;
        }

        &-status {
            width: 5%;
        }

        &-actions {
            width: 10%;
        }
    }

    &__data {
        display: flex;
        width: 100%;
        padding-top: 0.5rem;
        background-color: white;
        font-size: 1.4rem;
        justify-content: flex-start;

        &:first-child {
            border-top: 2px solid var(--gray-light);
        }

        &__drag {
            display: flex;
            flex-direction: column;
            align-self: center;
            font-size: 22px;
            width: 7%;
            text-align: center;

        }

        &__box__photo {
            width: 7.5%;
            display: flex;
            justify-content: center;

            &-img {
                width: 3rem;
                object-fit: cover;
                object-position: center;
                height: 3rem;
                border-radius: 10rem;
                margin-bottom: 0.2rem;
            }
        }

        &-name,
        &-lastnameP,
        &-lastnameM {
            width: 12%;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            white-space: normal;
        }

        &-email {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 17%;
            font-size: 1.3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &-rol {
            width: 12%;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &-active {
            width: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .switch {
                position: relative;
                display: inline-block;
                width: 50px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--gray-line-light);
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 2px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked+.slider {
                    background-color: var(--purple);
                }

                input:focus+.slider {
                    box-shadow: 0 0 1px var(--purple);
                }

                input:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                .slider.round {
                    border-radius: 34px;
                    height: 20px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
            }
        }

        &-actions {
            height: auto;
            width: 9.5%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 0.35rem;
            padding-left: 2rem;
        }
    }
}