.btn {
    padding: 0.7rem;
    display: inline-block;
    cursor: pointer!important;
}

.add {
    background-color: var(--orange) !important;
    color: white !important;
}

.preview {
    outline: 1px solid var(--orange) !important;
    color: var(--orange) !important;
    margin-right: 1.5rem;
}

.paginator {
    color: var(--orange) !important;
}

.orange {
    background-color: var(--orange) !important;
    color: white !important;
}

.white {
    color: var(--orange) !important;
}