.dialog-user {
    background: rgba(33, 33, 33, 0.9);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: var(--white);
        height: 90vh;
        width: 540px;
        position: relative;

        .body {
            padding: 3rem 4.3rem;

            .profile-picture {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .container-image {
                    width: 30%;
                    margin-bottom: 1rem;

                    .avatar {
                        width: 90px;
                        height: 90px;
                        background-color: gray;
                        border-radius: 50%;
                    }
                }

                .upload-picture {
                    width: 70%;

                    .actions-picture {
                        margin-top: .3rem;
                    }
                }
            }

            .form-control {
                .row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .custom-label-input {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-top: 10px;
                            color: black;
                        }

                        .custom-input {
                            padding: 1rem;
                            width: 100%;
                            background-color: var(--gray-background);
                            border: 1px solid var(--background-icon);
                            margin-top: 2px;
                        }
                    }
                }
            }
        }

        .divider {
            position: absolute;
            border-top: 1px solid var(--gray-medium);
            padding: 2rem;
            width: 100%;
            bottom: 0;
            display: flex;
            justify-content: flex-end;

            .buttons {
                width: 50%;
                display: flex;
                justify-content: space-between;

                .btn {
                    padding: 1rem;
                    display: inline-block;
                    cursor: pointer !important;
                }

                .btn-cancel {
                    color: var(--orange) !important;
                }

            }
        }
    }
}