<div class="dialog-user">
    <div class="container">

        <div class="body">
            <div class="title">
                <h3 class=".title-text-21">{{title}}</h3>
            </div>

            <div class="profile-picture">
                <div class="container-image">
                    <div class="avatar">

                    </div>
                </div>

                <div class="upload-picture">
                    <div class="text-value-14">JPG, PNG | Tamño mínimo de 300px x 300px</div>
                    <div class="actions-picture">
                        <app-custom-button className="orange" title="Subir Foto"></app-custom-button>
                        <app-custom-button className="white" title="Quitar foto actual"></app-custom-button>
                    </div>
                </div>
            </div>

            <form [formGroup]="userForm" class="form-control">
                <div class="first-row row">
                    <div class="custom-label-input">
                        <label class="text-value-14 color-gray">Nombre</label>
                        <input type="text" formControlName="name" placeholder="Nombre" class="custom-input">
                    </div>
                    <div class="custom-label-input">
                        <label class="text-value-14 color-gray">Apellido Paterno</label>
                        <input type="text" formControlName="lastnameP" placeholder="Apelligo Paterno"
                            class="custom-input">
                    </div>
                </div>

                <div class="first-row row">
                    <div class="custom-label-input">
                        <label class="text-value-14 color-gray">Apellido Materno</label>
                        <input type="text" formControlName="lastnameM" placeholder="Apellido Materno"
                            class="custom-input">
                    </div>
                    <div class="custom-label-input">
                        <label class="text-value-14 color-gray">Email</label>
                        <input type="text" formControlName="email" placeholder="Correo Electronico"
                            class="custom-input">
                    </div>
                </div>

            </form>

            
        </div>
        <div class="divider">
                <div class="buttons">
                    <a (click)="closeDialog()" class="btn btn-cancel">Cancelar</a>
                    <app-custom-button className="orange" title="Subir Foto"></app-custom-button>
                </div>
        </div>
    </div>
</div>