.content__users {
    .space-top {
        margin-top: 1.2rem;
    }

    .actions {
        justify-content: space-between;
        align-items: center;
    }

    .info__card {
        background-color: var(--white);
        padding: 1.7rem 1.5rem;
    }

    .info__table {
        background-color: var(--white);
    }

    .separator-text {
        margin-top: 1rem;
    }

    .d-flex {
        display: flex;
    }
}