<div class="content__users">
    <div class="actions info__card d-flex">
        <div class="space-top d-flex">
            <div class="">
                <h3 class="title-text-21">Usuarios</h3>
                <p class="text-value-13 color-gray separator-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
            </div>
        </div>

        <div class="space-top">
            <app-custom-button className="preview" title="Previsualizar"></app-custom-button>
            <app-custom-button title="Agregar nuevo usuario" (openDialog)="open($event)"></app-custom-button>
        </div>

    </div>
    <div class=" space-top body__list__users info__table">
        <app-search-filter></app-search-filter>
        <app-list-users></app-list-users>
    </div>
</div>

<app-form *ngIf="show" (close)="close($event)"></app-form>
