<div class="filter">
    <div class="container-filters">
        <div class="search inputs">
            <img src="assets/search.svg" alt="search">
            <input class="input-search" type="text" placeholder="Búsqueda">
        </div>
        <div class="custom-filters">
            <div class="order">
                <select name="select" class="order-select" name="order">
                    <option value="" selected disabled>8 por página</option>
                    <option value="15">15 por página</option>
                </select>
            </div>

            <div class="order">
                <select name="select" class="order-select" name="order">
                    <option value="" selected disabled>Ordenar de A - Z</option>
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                </select>
            </div>

            <div class="status">
                <select name="select" class="order-select" name="order">
                    <option value="">Todos</option>
                    <option value="activados">Activados</option>
                    <option value="desactivados">Desactivados</option>
                </select>
            </div>
        </div>


    </div>

</div>