.filter {
    padding: 20px 20px 0;

    .container-filters {
        display: flex;
        width: 90%;
        justify-content: space-between;

        .search {
            width: 25% !important;
        }

        .custom-filters {
            width: 60%;
            display: flex;
            justify-content: space-evenly;

            .order {
                width: 30%;
                padding: 20px;
                background-color: var(--gray-background);
                border: 1px solid var(--background-icon);

                select {
                    border: none;
                    background-color: var(--gray-background);
                    width: 100%;

                    option {
                        width: 100%;
                        outline: 2px solid red;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .status {
                width: 15%;
                padding: 20px;
                background-color: var(--gray-background);
                border: 1px solid var(--background-icon);

                select {
                    border: none;
                    background-color: var(--gray-background);
                    width: 100%;

                    option {
                        width: 100%;
                        outline: 2px solid red;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .inputs {
            padding: 10px;
            width: 100%;
            background-color: var(--gray-background);
            border: 1px solid var(--background-icon);
            margin-top: 2px;
            display: flex;
            justify-items: center;

            .input-search {
                border: none;
                background-color: var(--gray-background);
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}