:root {
    --white: #ffff;
    --gray-line-light: #e9e9e9;
    --orange: #fa6a00;
    --gray-medium: #6b6b6b;
    --gray-light: #969696;
    --blue-dark: #131b31;
    --gray-background: #f9f9f9;
    --gray-background-light: #f4f4f4;
    --background-icon: rgb(168, 162, 162);
    --purple: #677FAC;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Circular Std Book";
}

@mixin common-font-style($fontSize) {
    font-size: $fontSize !important;
    font-family: Arial !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.2 !important;
}



.title-text-21 {
    @include common-font-style(21px);
    letter-spacing: -0.11px !important;
}

.subtitle-text-18 {
    @include common-font-style(18px);
    letter-spacing: -0.09px !important;
}

.text-value-14 {
    @include common-font-style(14px);
    letter-spacing: -0.07px !important;
}

.text-value-13 {
    @include common-font-style(13.7px);
    letter-spacing: 0.03px !important;
}

.text-header-table-12 {
    @include common-font-style(12px);
    align-self: center;
    letter-spacing: -0.06px !important;
}

.text-value-table-11 {
    @include common-font-style(11px);
    letter-spacing: -0.06px !important;
}

.text-button {
    @include common-font-style(10.8px);
    letter-spacing: normal !important;
}

.text-label-card-10 {
    @include common-font-style(10px);
    letter-spacing: normal !important;
}

.color-title {
    color: black;
}

.color-gray {
    color: var(--background-icon)
}